.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  z-index: 1;
  scrollbar-color: rgb(196, 196, 196) rgba(255, 255, 255, 0);
  scrollbar-width:thin;
}

[class*="col-"] {
  float: left;

}

.hidden{
  visibility: hidden;
}

ul{
  list-style: none;
	padding: 0;
	margin:0;
}

li{
  /*background-color:#61dafb;*/
}

li .selected{

}

.main{
  background-color: rgb(21, 160, 74);
  flex-grow: 1;
  overflow-y:hidden;
}

.sidebar{
  background-color: yellow;
  height:100%;
  display: flex;
  flex-direction: column;
}

.sidebar-list{
  height:100%;
  overflow-y: scroll;
}

.sidebar-new-collection {
  display:flex;
  flex-direction: row;
}

.sidebar-new-collection *{
  display:inline-block;
}

.sidebar-new-collection-text{
  flex-grow: 1;
}

.main-song-select{
  background-color: rgb(255, 187, 0);
  height:100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: right;
}

.main-song-select-list{
  background-color: rgb(255, 187, 0);
  height:100%;
  width:100%;
  
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-nav {
  background-color: purple;
  text-align: right;
  height: 35pt;
}

.logout-block {
  display: flex;
  flex-direction: row;
  width: max-content;
  text-align: right;
  margin-left: auto; 
  margin-right: 0;
}

.logout-block button {
  display:inline-block;
  height: 35pt;
  width: 42pt;
}


.login-block {
  display: flex;
  flex-direction: row;
  width: max-content;
  text-align: right;
  margin-left: auto; 
  margin-right: 0;
}

.login-block .input {
  text-align: right;
  display:inline-block;
}

.login-block button {
  display:inline-block;
  height: 35pt;
  width: 42pt;
}

.control{
  height: 35pt;
}

.volume-control{
  background-color: green;
}

.volume-control .volume-title{
  width: 25%;
  /*background-color: red;*/
  display: inline-block;
  Margin: 0;
}

.volume-control .volume-slider{
  width: 58%;
  display: inline-block;
  accent-color: rgb(103, 184, 211);
}

.volume-control .volume-number-display{
  width: 15%;
  background-color: red;
  display: inline-block;
  Margin: 0;
}

.progress-control{
  background-color: rgb(74, 161, 74);
}

.progress-control .play-pause-button{
  width: 50pt;
}

.progress-control .progress-slider{
  width: 60%;
  display: inline-block;
  accent-color: rgb(103, 184, 211);
  
}




.progress-control .progress-display{
  width: 60pt;
  background-color: red;
  display: inline-block;
  Margin: 0;
}

.remove-collection-button{
  margin-left: auto; 
  margin-right: 0;
  width:max-content;
}

.music-info {
  text-align: left;
  
}

.music-item{
  width:99.5%;
  border-style:groove;
  border-radius: 7pt;
  border-color: #4fb5d1;
  background-color: #61dafb;
  display: flex;
  flex-direction: row;
}



.music-item-info{
  flex-grow: 1;
  display:inline-block;
}

.music-item-action{
  font-size: 20pt;
  display:inline-block;
}

.music-item:hover{
	background: #96D1FF;
}

.music-item-title{
  text-align: left;
  
}
.music-item-singer{
  
  text-align: left;
  
}

.collection-item{
  
  border-style:groove;
  border-radius: 7pt;
  border-color: #4fb5d1;
  background-color: #61dafb;
  display: flex;
  flex-direction: row;
}

.collection-item-info{
  
  display:inline-block;
}

.play-icon{
  
  font-size: 20pt;
  text-align: right;
  display:inline-block;
  margin-left: auto; 
  margin-right: 0;
}

.collection-item:hover{
	background: #96D1FF;
}

.collection-item-title{
  text-align: left;
  
}
.collection-item-count{
  text-align: left;
}



.selected{
  border-color: #0d9c00;
  background-color: #00c431;
}

.selected:hover{
  background-color: #27e016;
}

.add-to-collection-pop-up{
  
  display:block;
  position: absolute;
  height: 200pt;
  width: 250pt;
  border-radius: 15pt;
  background-color: #f5f5f5;
  z-index: 4;
  margin: auto;  
  inset:0 0 0 0;
  
}

.add-to-collection-pop-up-background{
  
  display:block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2b2b2bb0;
  z-index: 3;
  margin: auto;  
  inset:0 0 0 0;
  
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}